* {
    font-family: Arial, Helvetica, sans-serif;
    
    color: seashell;
    background-color: black;
    opacity: 0.9;
    font-weight: bold;
    
}
header {
    display: flex;
    justify-content: space-between;
    height: 69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    width: 100%;
    z-index: 10;
    opacity: 1;
}
.logo {
    padding: 10px;
    height: 49px;
    align-items: flex-start;
    border-bottom: 1px solid seashell;
}
.nav p {
    display: inline-flex;
    text-decoration: underline;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 10px;
  
}

#missionsec {
    position: relative;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*moai2q*_ga*MTgxNTYyODQ0Ny4xNjkxOTY2NjM1*_ga_3LRZM6TM9L*MTY5MjEzMzA2OC4zLjEuMTY5MjEzNDIxOS41OS4wLjA.);
    height: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    top: 100px;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 22px;

    
}
#missionblock{
    width: 100%;
    background-color: #000;
    padding: 10px;
    opacity: 1;
    text-align: center;

}
#teaheader {
    position: relative;
    text-align: center;
    top: 150px;
    font-size: 22px;
}
#teaofthemonth{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    top: 150px;
    font-size: 22px;
}

.box img{
    width: 300px;
    height: 200px;
    opacity: 1;
}
figcaption {
    top: 10px;
    text-align: center;
}
#locations {
    position: relative;
    top: 200px;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*j9tmu5*_ga*MTgxNTYyODQ0Ny4xNjkxOTY2NjM1*_ga_3LRZM6TM9L*MTY5MjE0MzQ3Ni41LjEuMTY5MjE0NDU3OC42MC4wLjA.);
    height: 500px;
    margin:auto;
    align-items: center;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: space-around;
   background-size: 100%;
   font-size: 22px;

}
.location-head {
        position: static;
        top: 100px;
        text-align: center;
     display: flex;
     justify-content: center;
     z-index: 10;
        background:none;
        width: 100%;
}
.location-box {
    background-color: #000;
    color: #fff;
    height: 300px;
    width: 300px;
    text-align: center;
    display: inline-block;
   }
footer {
    margin-top: 220px;
    text-align: center;
    margin-bottom: 50px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
}
#copyright {
    margin-left: 20px;
    text-align: left;
    margin-bottom: 0;
}
   
   